<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to fnvb.com, <%= @user.user_name %></h1>
<p>
  You president has successfully change your password,
  your new password is: <%= @password %><br>
</p>
<p>
  To login to the site, just follow this link: http://localhost:3000/es/users/sign_in
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
