<div class="shadow">
  <div class="border rounded-top border-bottom-0">
    <h1 class="text-center m-0 py-1">New article</h1>
  </div>

  <%= render "form", article: @article %>
</div>

<br>

<div>
  <%= link_to "Back to articles", articles_path, class: 'btn btn-outline-secondary' %>
</div>
