<div class="shadow">
  <div class="border rounded-top border-bottom-0">
    <h1 class="text-center m-0 py-1">New statistic</h1>
  </div>
  <%= render "form", statistic: @statistic %>
</div>

<br>

<div>
  <%= link_to "Back to statistics", statistics_path, class: 'btn btn-outline-secondary' %>
</div>
