<h1>Editing tournament</h1>

<%= render "form", tournament: @tournament %>

<br>

<div>
  <%= link_to t(:show_this_tournament), @tournament, class: 'btn btn-outline-success' %>
  <%= link_to t(:back_to_tournaments), tournaments_path, class: 'btn btn-outline-secondary' %>
  <%= link_to 'Generar Calendario', generate_calendar_path, class: 'btn btn-success' %>
</div>
