<% content_for :head do %>
  <%= javascript_import_module_tag "calendar_form" %>
<% end %>

<h1>t(:new_calendar)</h1>

<%= render "form", calendar: @calendar %>

<br>

<div data-turbo="false">
  <%= link_to "Back to calendars", calendars_path %>
</div>
