<h1>Editing player</h1>

<%= render "form", player: @player %>

<br>

<div>
  <%= link_to "Show this player", @player, class: 'btn btn-outline-success' %>
  <%= link_to "Back to players", players_path, class: 'btn btn-outline-secondary' %>
</div>
