<div id="<%= dom_id game_detail %>">
  <p>
    <strong>Game:</strong>
    <%= game_detail.game_id %>
  </p>

  <p>
    <strong>Game time:</strong>
    <%= game_detail.game_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game_detail.description %>
  </p>

</div>
