<h1>Editing game detail</h1>

<%= render "form", game_detail: @game_detail %>

<br>

<div>
  <%= link_to "Show this game detail", @game_detail %> |
  <%= link_to "Back to game details", game_details_path %>
</div>
